PORT=4002
APP_INSTANCE_ID=cadastros-omie-local
APP_ENVIRONMENT=development
OMIE_CONFIG_SERVICE_URL=http://127.0.0.1:4001
OMIE_CONFIG_APP_INSTANCE_ID=configuracoes-omie-local
OMIE_CONFIG_ENVIRONMENT=development
OMIE_CONFIG_RESOLVER_SHARED_SECRET=

